* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: arial, helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: green;
    padding: 0 1em;
    flex: 0 0 auto;
}

  .site-name {
    font-size: 24px;
    font-weight: 600;
  }

  .navigation {
    display: flex;
    justify-content: space-around;   
  }

    .navigation-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 0px;
    }

        .nav-link {
            margin: 1em;
        }

.mid-section {
    display: flex;
    flex: 1 1 auto;
    padding: 0px; 
}
    .main-content {
        flex: 1 1 auto; 
        order: 2;
        background:white;
        padding: 0 1em;
    }

    .sidebar {
        flex: 1 0 20vw;
        background: #CCC;
        text-align: center;

        padding: 5px;
    }

    .sidebar-left {
        order: 1;
    }

    .sidebar-right {
        order: 3;
    }
/* GRRRR Mijn image heeft meer padding dan ik wil en ik krijg het niet goed */
    img  {
        max-width: 100%;
    }

    .sidebar-title {
        font-size: 16px;
    }

.footer {
    text-align: center;
    background: #804E49;
    color: white;
    flex: 0 0 auto;
}